/*============= SECTION =============*/

.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
}
.btn-secondary {
    border-width: medium;
    border-radius: 0;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    border-color: light blueviolet;
    background-color: #1ebba3;
    color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
}

.navbar {
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1rem;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-item {
    padding-right: 0.5rem;
}

.navbar .navbar-nav .nav-link {
    color: rgb(39, 98, 187);
    padding-top: 0.6rem;
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(127, 166, 224);
}

/*landing*/

.home-inner{
    background-image: url("img/computers.png");
    background-size: contain ;
}

.caption h1{
    font-size: 1.8rem;
    font-weight: bold;
}

.caption{
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    z-index: 1;
}

/*features */

.jumbotron{
    color: black;
    padding-bottom: 0 ;
    margin-bottom: 0;
}

.line{
    margin-bottom: 0;
}

.features-list{
    list-style: none;
}

.client{
    width: 100%;
    border-radius: 50%;
    min-width: 20%;
}

/* footer */
.footer{
    font-size: 1.8rem;
    font-weight: bold;
  }

  
/* cards */
.card-heading{
    padding: 30px;
    background-color: lightgrey;
    margin-bottom: 0;
  }
  .card-img{
    background-size: cover;
    background-position: center;
  }
  .card {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .card-title h5{
      font-size: 1.8rem;
  }
  
  .card-title h5:hover{
      color: blue;
  }
  /* footer */
  .footer{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

